    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'josefin sans';
        background-color: #F79F1F!important;
    }
    body a {
        text-decoration: none;
    }
    .header {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        background-color: #b21f89;
        height: 86px;
        align-items: center;
        padding: 1rem 0;
        z-index: 9999;
        position: relative;
        top: 0;
        width: 100%;
    }
    .header-navbar ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .header-navbar ul li {
        display: inline;
        margin: 0 1rem;
        font-size: 1.2rem;
    }
    
    .header-navbar ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        text-shadow: 1px 1px 1px #000;
        color:#f4ad35;
    }
    
    .header-navbar ul li a:hover {
        color:#C4E538;
        text-shadow: 1px 1px 1px #000000;
    }
    
    .carousel-inner>.carousel-item>img {
        width: 100%;
        background-size: cover;
    }

    /*Galeria*/
    
    .gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1170px;
        padding: 1.5rem 0;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }  
    .gallery-card {
        width: 32%;
        height: 400px;
        margin-bottom: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        margin-top: 14px;
    }
    .gallery-card-title {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1rem;
        font-family: 'josefin sans';
        text-shadow: 2px 2px #12CBC4;
    }
    
    .gallery-card-btn {
        padding: 0.6rem 2rem;
        border: 2px solid #fff;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .gallery-card-btn:hover {
        background-color: #fff;
        color: #000;
    }
    .gallery #card-1 {
        background-image: url("img/imgcard1.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(60%);
        transition: 0.6s;
    }
    .gallery #card-1:hover {
        background-size: 110%;
        filter: grayscale(0%);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/imgcard1.jpg");
    }
    .gallery #card-2 {
        background-image: url("img/imgcard2.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(60%);
        transition: 0.6s;
    }
    
    .gallery #card-2:hover {
        background-size: 110%;
        filter: grayscale(0%);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/imgcard2.jpg");
    }
    .gallery #card-3 {
        background-image: url("img/imgcard3.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        filter: grayscale(60%);
        transition: 0.6s;
    }
    
    .gallery #card-3:hover {
        background-size: 110%;
        filter: grayscale(0%);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/imgcard3.jpg");
    }
    .main {
        background-color: #eec3ff;
    }
    /*rodape*/  
    footer {
        text-align: center;
        padding-bottom: 2rem;
        background-color: #b21f89;
        line-height: 65px;
        margin: 0 auto;
        height: 100%;
    }
    footer span {
        font-weight: bold;
        color: #f6bf44;
        text-shadow: 1px 1px #291ea3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .header-social-media {
        display: flex;
        justify-content: space-around;
    }
    
    .header-social-media ul {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        letter-spacing: 2px;
    }
    .header-social-media ul li {
        list-style: none;
        margin: 0 1rem;
        font-size: 1rem;
        letter-spacing: 3px;
        text-shadow: 1px 1px 1px #000;
    }
    
    .header-social-media ul li a:hover {
        color: #F79F1F;
        text-shadow: 1px 1px 1px #000;
    }
    
    .logo-menu ul {
        margin-top: 15px;
        list-style: none;
        font-size: 0.6rem;
        color: #f6bf44;
        letter-spacing: 2px;
        text-shadow: 1px 1px 1px #000;
    }
    
    .logo-menu ul li {
        list-style: none;
        text-decoration: none;
        margin-top: 15px;
        display: inline;
        
    }
    
    .header-navbar ul li i {
        font-size: 1rem;
        padding-right: 4px;
        text-align: center;
       
    }
    
    @media (max-width: 600px) {
        .gallery-card {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-top: 6px;
            margin-bottom: 5px;
            clear: both;
        }
    }
    
    @media (max-width: 600px) {
        .header ul li {
            font-size: 0.8rem;
            margin: auto;
            padding: 2px;
        }
    }

    .h1pro {
        color:#1fabce;
        text-decoration: none;
        font-size: 2rem;
        text-align: center;
        padding-top: 10px;
        text-shadow: 2px 1px 3px #000;
        font-weight: bold;
        font-family: 'josefin sans';
    }

    .linha_horizontal{
        margin: 0;
        padding: 0;
        background-color: #EE5A24;

       

    }

/*Formulário*/

input, textarea {

  border: 0;
  outline: 0;
  font-size: 1.2em;
  background: transparent;
  color: #053896;
  position: relative;
  font-family: 'open_sansregular';

}

textarea { resize: none; }

.formulario {

  max-width: 550px;
  margin: 0 auto;
  border-radius: 2px;

}

.form {
  display: flex;
  flex-wrap: wrap;

}

.form-item {

  position: relative;
  width: 100%;
  padding: 1em;

}

@media only screen and (min-width: 768px) {

  .form-item.col-responsive { width: 50%; }

}

.form-item .textarea {

  height: 10em;

}
.form-item .input, .form-item .textarea {

  display: block;
  padding: 1em;
  width: 100%;
  transition: all 0.3s;
  border-bottom: 2px solid #56D4D9;

}

.form-item .input:focus, .form-item .textarea:focus {

  border-bottom: 2px solid #333333;

}

.form-item .input:valid + .label, .form-item .input:focus + .label, .form-item .textarea:valid + .label, .form-item .textarea:focus + .label {

  top: 1em;
  left: 1em;
  font-size: 0.9em;

}

.form-item .input:valid, .form-item .textarea:valid {

  border-bottom: 2px solid #56D4D9;

}

.form-item .label {

  position: absolute;
  top: 2em;
  left: 2em;
  text-transform: capitalize;
  transition: all 0.3s;

}

.form-item .botao {

  display: block;
  width:120px;
  padding: 0.8em 0.6em;
  border:2px #56D4D9 solid;
  border-radius:3px; 
  color: #56D4D9;
  cursor: pointer;
  transition: all 0.3s;

}

.form-item .botao:hover {

  background: #1fabce;
  color: #ffffff;
  border:2px #828282 solid;

}

.form-item .botao:active {

  background-color:#ff9000;
  color:#ffffff;
  border:2px #ff9000 solid; 

}
/*Formulário*/